#navbar .navbar-brand{
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}

#navbar .nav-link{
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    font-size: 20px;
}

#navbar .nav-link:hover{
    background-color: #212121;
}

#label .card-img {
    width: 48%;
    height: 180px;
}

#translist .overflow-auto{
    height: 400px;
}

#produk .overflow-auto{
    height: 500px;
}

#produk .card-img-top{
    width: 50%;
    margin-top: 10px;
    margin-left: 70px;
}


#produk .card-title{
    font-size: 14px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

#produk .card-text{
    font-size: 14px;
    font-family: serif;
    font-weight: bold;
    color: black;
}

#tabel-cart img{
    width: 40%;
    margin-top: 5px;
    margin-left: 20px;
}

#footer .container-fluid{
    background-color: #198754;
}

.hakcipta{
    text-align: center;
    background-color: #136640;
    font-family: 'Sen', sans-serif;
    color: white;
    padding: 10px;
}

#detailproduk img{
    width: 38%;
    margin-left: 40px;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 5px;
}

#detailproduk .form-control{
    width: 20%;
}

#detailproduk .text-produk label{
    margin-left: 20px;
    font-weight: bold;
}

#detailproduk .text-produk span{
    color: blue;
    font-weight: bold;
    font-size: 28px;
}

#aboutproduk .nav, .tab-content{
    margin-left: 30px;
}















